/* home */

/* home/post */
#browse-img {
    display: none;
}

/* friends */

.category-backpacker-turist {
    font-size: .7rem;
}


/* Common style for all views */
header.container-fluid {
    background-image: url(../assets/images/style/top.jpg);
    background-size: 100% 100%;
}

a.nav-item.nav-link{
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-image: url(../assets/images/style/bottom.jpg);
    background-size: 100% 100%;
    color: white;
    text-align: center;
}

/* buttons for photo and post */
.btn {
    background-color:#e2318b;
}

/* navbar options  */
#home-tab{
    color: black;
}

#home-tab:hover{
    background-color: #ccce01;
    color: white;
}

#friends-tab{
    color: black;
}

#friends-tab:hover{
    background-color: #52bfd3;
    color: white;
}

#travel-tab{
    color:black;
}

#travel-tab:hover{
    background-color: #fcc513;
    color: white;
}

div#id_new.container{
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    margin: 2px;
}

