<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>friends</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <input type="text" id="newfriend" placeholder="Add Friend" />
    <button type="submit" id="submit">Submit</button>






    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/friends.js"></script>
</body>
</html>











<!-- <html>
<head>
	<title>friends</title>
</head>
<body>
    <input type="text" id="newfriend" placeholder="Add Friend" />
    <button type="submit" id="submit">Submit</button>






    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/friends.js"></script>
</body> -->