<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/assets/bootstrap.min.css">
    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/travel.css">
    <title>SOCIAL NETWORK</title>
    <!--ANIMATED MAPS-->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
</head>

<body>

    <div id="login-splash" class="container mt-3" >
        <div class="card" id="color-card">
            <img id="logo-login" class="card-img-top" src="../assets/images/style/MexicanLogo.png">
            <div class="card-body">
            <h5 class="card-title">Login</h5>
            <a type="button"  class="btn btn-warning text-dark" id="btn-google">Sign in with Google <i class="fab fa-google"></i> </a>
            </div>
        </div>
    </div>

    <main id="home-cont" style="display:none;">
        <header class="container-fluid">
            <nav class="nav nav-pills nav-justified">
                <a class="nav-item nav-link" href="#">
                    <img class="img-fluid rounded-circle" src="" alt="profile" id="profile-photo">
                </a>
                <a class="nav-item nav-link" href="#" id="nameUser"></a>
                <a class="nav-item nav-link" href="#"> <img class="card-img-top" src="../assets/images/style/MexicanLogo.png" alt=""> </a>
                <a class="nav-item nav-link" href="#">Backpacker</a>
            </nav>
        </header>

        <section class="container-fluid">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="travel-tab" data-toggle="tab" href="#travel" role="tab" aria-controls="travel" aria-selected="false">Travel</a>
                </li>
            </ul>

            <!-- divs with the different views -->
            <div class="tab-content" id="myTabContent">
                <!-- home -->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <!-- post something -->
                    <div class="post container">
                        <!-- post -->
                        <textarea class="form-control mt-2 mb-1" type="button" placeholder="Post something..." rows="1" data-toggle="modal" data-target="#modal-port-something" id="post-something"></textarea>
                    </div>
                    <!-- cards section -->
                    <div class="card-post-container" id="card-post-cont">

                    </div>
                    <!-- /cards section -->
                </div>


                <div class="tab-pane fade container" id="friends" role="tabpanel" aria-labelledby="friends-tab">
                    <h4 class="text-right">Friends: 1</h4>
                    <!-- cards friend's information -->
                    <div class="row">
                        <div class="card mt-2 mr-3 ml-3 col-5 text-right">
                            <a class="mt-2" href="#">
                                <i class="fas fa-times-circle"></i>
                            </a>
                            <a href="#" id="cont-photo-profile">
                                <img class="rounded-circle card-img-top" src="../assets/images/profile.png" alt="Card image cap" id="profile-photo">
                            </a>
                            <hr>
                            <div class="card-body p-0 text-left">
                                <a href="marcos.llamas@gmail.com">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a href="tel:+523318894178">
                                    <i class="fas fa-phone"></i>
                                </a>
                                <div class="row">
                                    <h5 class="card-text" id="nameUser">Marcos</h5>
                                    <p class="category-backpacker-turist ml-3 mt-2">Backpacker</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="travel" role="tabpanel" aria-labelledby="travel-tab">
                    <div id="chartdiv"></div>
                    <br>
                    <br>
                    <div class="container-fluid" id="main-sponsors">
                        <ul class="sponsors">
                            <li><img src="../assets/images/travel/aeromexico.png" alt="aeromexicoLogo"></li>
                            <li><img src="../assets/images/travel/volaris.png" alt="volaris"></li>
                            <li><img src="../assets/images/travel/mexicoLogo.png" alt="mexicoLogo"></li>
                            <li><img src="../assets/images/travel/pueblos-magicos-logo.png" alt="magicTowns"></li>
                            <li><img src="../assets/images/travel/letsTravel.png" alt="Let's travel all"></li>
                        </ul>
                    </div>
                </div>
        </section>
    </main>


    <!--MODALS-->

    <!--Modal to comment the picture/text posted-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal Header-->
                <div class="modal-header">
                    <h5 id="nameUser">name</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!--Modal body-->

                <div id="post-section" class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" rows="2" id="comment" name="text" placeholder="What are you thinking?"></textarea>
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button id="add-button" type="submit" class="btn btn-danger" data-dismiss="modal">Add</button>

                </div>
            </div>
        </div>
    </div>



    <!-- post something/modal -->
    <div class="modal fade" id="modal-port-something" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-post-something">Post something...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control mb-1" rows="1" placeholder="Say something..." id="modal-description"></textarea>
                    <div class="custom-file btn-sm btn col-3 text-center mt-1">
                        <input type="file" class="" id="browse-img">
                        <label class="col-12 mt-1 mb-0" for="browse-img" id="label-browse-img">Photo</label>
                    </div>
                    <button type="button" class="btn mt-1" data-dismiss="modal" id="post">Post</button>
                    <img class="col-9 border-0" id="img-upload">
                </div>
            </div>
        </div>
    </div>



    <!--If it is needed delete the files and add boostrap CDN to go to procution-->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->


    <!-- jQuery (nedded for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="../js/assets/bootstrap.min.js"></script>
    
    <!-- ANIMATED MAPS-->
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    
    <!-- js -->
    <script type="text/javascript" src="../js/app_home.js"></script>


    
    <script type="text/javascript" src="../js/map.js"></script>

  
    
</body>


</html>
