<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/assets/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>SOCIAL NETWORK</title>
</head>

<body>

    <!-- splash -->
    <div class="">
        <img id="bk-splash" src="../assets/images/readme/mexican.png">
    </div>


    <!--If it is needed delete the files and add boostrap CDN to go to procution-->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->


    <!-- jQuery (nedded for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="../js/assets/bootstrap.min.js"></script>

    <!-- js -->
    <script type="text/javascript" src="../js/app_splash.js"></script>
</body>

</html>
